
<div id="mydiv" class="container mt-5 p-3">
    <div id="cover-spin" *ngIf="showSpinner"></div>
    <div [formGroup]="loginForm">
        <div class="mb-3">
            <label for="inputLoginId" class="form-label">Login Id</label>
            <input type="text" formControlName="loginId" class="form-control" id="inputLoginId"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="psw" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" (click)="doLogin()" class="btn btn-primary mt-2" [disabled]="!loginForm.valid">Submit</button>
    </div>
</div>