<h2>Customers</h2>

<div>
  <!-- {{customer. customer_id}} -->

  <table id="customers">
    <tr>
      <th>STORE_ID</th>
      <th>FIRST_NAME</th>
      <th>LAST_NAME</th>
      <th>EMAIL</th>
      <th>ADDRESS_ID</th>
      <th>ACTIVE</th>
      <th>OFFER</th>
    </tr>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.store_id }}</td>
      <td>{{ customer.first_name }}</td>
      <td>{{ customer.last_name }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.address_id }}</td>
    </tr>
  </table>
</div>
