<h2>Customers</h2>

<div *ngFor="let customer of customers">
  {{ customer.customer_id }}

  <table id="customers">
    <tr>
      <th>STORE_ID</th>
      <th>FIRST_NAME</th>
      <th>LAST_NAME</th>
      <th>EMAIL</th>
      <th>ADDRESS_ID</th>
      <th>ACTIVE</th>
      <th>OFFER</th>
    </tr>
    <tr>
      <td>{{ customer.store_id }}</td>
      <td>{{ customer.first_name }}</td>
      <td>{{ customer.last_name }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.address_id }}</td>
      <td>{{ customer.active }}</td>
    </tr>
    <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
  </table>
</div>
